@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Salsa&display=swap');

.container-fluid {
    padding: 3% 15%;
}
.img1 {
    width: 100%;
}
#title {
    background-color: #1a1a1a;
}
ul, li{
    text-align: right;
}
.navbar {
    padding: 0 0 4.5rem;
    
}
.nav-item {
    padding: 0 18px;
}
.nav-link {
    padding-left: 50px;
    font-size: 1.2rem;
    color: #fff;
}
.collapse {
    text-align: right;
}
#title p {
        font-family: "Salsa", cursive;
        font-weight: 400;
        font-style: normal;
}